.Celular {

    width: 402px;
    height: 874px;
    background-color: rgb(143, 123, 123);
    margin: 10px auto;
    border: 5px solid black;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;
}

.titulo {
    width: 390px;
    height: 300px;
    margin: 15px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.lapis {
    display: flex;
    width: 70px;
    height: 90px;
    padding: 20px;
}

.lapis img {
    width: 60px;
    height: 80px;

}


.Dados {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 380px;
    height: 340px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    color: rgb(244, 244, 244);

}

.Caixa input {
    color: azure;
    display: flex;
    justify-content: center;
    border-radius: 16px;
    background-color: rgb(166, 166, 166);
    width: 340px;
    height: 60px;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}

.Dados button {

    border: 5px;
    border-radius: 20px;
    width: 200px;
    height: 70px;
    background-color: rgb(85, 85, 85);
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;


}

button:hover {
    background-color: rgb(173, 168, 178);
}

.cadastro {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 380px;
    height: 200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    color: rgb(244, 244, 244);
}

.cadastro button {
    border: 5px solid rgb(85, 85, 85);
    border-radius: 20px;
    width: 300px;
    height: 50px;
    background-color: rgb(85, 85, 85);
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;
    flex-wrap: wrap;

}

button:hover {
    background-color: rgb(173, 168, 178);
}

.locais {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px;
    width: 380px;
    height: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    color: rgb(244, 244, 244);
}

.Dados a {
    margin: 8px;
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: right;
    align-items: right;

}